body {
    width: 300px;
    height: 300px;
    font-family: Lato, Helvetica;
    color: white;
    background-color: rgba(80, 80, 95, 0.7);
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h8p1qu');
  src:  url('fonts/icomoon.eot?h8p1qu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h8p1qu') format('truetype'),
    url('fonts/icomoon.woff?h8p1qu') format('woff'),
    url('fonts/icomoon.svg?h8p1qu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e9ba";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}

input:focus{
    outline: none;
    width: 100%;
}

button {
  background: inherit;
  border: 0;
  color: black;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
}

.to-do .addNote {    
    background: rgba(50, 50, 55, 0.5);
    width: 100%;
    height: 2em;
    color: white;
    font-size: 1.5em;
    border: none;
    /*border-radius: 0.5em;*/
    text-align: center;
}

.to-do {
    position: absolute;
    /*bottom: 6.5em;*/
    right: 0;
    width: 25em;
    height: 25em;        
    overflow-x: hidden;
    box-sizing: border-box;
    /*visibility: hidden;*/
    text-align: center;
}

.to-do .listContainer {
    width: 95%;
    height: 100%;
    background-color: rgba(80, 80, 95, 0.5);
    position: absolute;
    /*left: 100%;*/
    border-radius: 1em;
    box-sizing: border-box;
}

.listContainer form {
    position: absolute;
    bottom: 1em;
    width: 96%;
}

.to-do-list {
    list-style-type: none;
    padding-left: 1em;
    height: 18.6em;
    overflow: auto;
}

.to-do-list button {
    width: 1.5em;
    height: 1.5em;
    font-size: 1.2em;
    vertical-align: middle;
    position: relative;
    top: 4px;
    color: white;
    cursor: pointer;
    visibility: hidden;
}
.to-do-list li:hover button {
    visibility: visible;
}

/*
.to-do .addNote {
    font-size: 1.5em;
    width: 100%;
    height: 1.5em; 
    line-height: 1em;
    background: rgba(50, 50, 55, 0.7);
    border-radius: 0;
    text-align: left;
    padding-left: 4%;
}
*/
.to-do-list li {
    position: relative;
    margin-bottom: 0.5em;
}

.to-do-list input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}

.to-do-list input[type="checkbox"] + label {
  cursor: pointer;  
  margin-left: 6px;
}

/* Using ::before and ::after pseudo-elements to customize checkbox appearance */

.to-do-list input[type="checkbox"] + label::before {
    font-family: icomoon;
    top: 8px;
    position: absolute;
    left: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "\ea53";
    cursor: pointer;
}


/* unchecked state */

.to-do-list input[type="checkbox"] + label::after {
    font-family: icomoon;
    position: absolute;
    top: 8px;
    left: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "\ea52";
    opacity: 0;    
    cursor: pointer;
    transition: opacity 0.5s;
}

.to-do-list input[type="checkbox"]:checked + label::before {
  opacity: 0;
  transition: all 0.5s;

}

/* checked state */
.to-do-list input[type="checkbox"]:checked + label::after {
  opacity: 1;
  transition: all 0.5s;
  
}

.to-do-list input[type="checkbox"]:checked + label > span {
    text-decoration: line-through;
}

.to-do-list input[type="checkbox"] + label > span {    
    vertical-align: bottom;
    font-size: 1.4em;
    width: 12.5em;
    display: inline-block;
    word-wrap: break-word;
}

.to-do-list::-webkit-scrollbar {
    width: 6px;
}

.to-do-list::-webkit-scrollbar-track {
    background: lightgray;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.to-do-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}