/*
body {
    height: 100%;
    font-family: Lato, Helvetica;
    margin: 0px;
}


.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("https://source.unsplash.com/category/nature/1600x900");
}
*/
body {
    background: url("https://source.unsplash.com/category/nature/1600x900/daily") no-repeat center center fixed;
    font-family: Lato, Helvetica;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 5px darkgray;
}

.settings {
 /*   background-color: rgba(130, 160, 126, 0.701961); */
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    font-size: 1.3em;
    color: white;
}

/* Weather */

#weatherBox {
 /*   background-color: rgba(130, 160, 126, 0.701961); */
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
}

.weather img {
    width: 30px;
    vertical-align: middle;
    top: 0;
    left: 0;
}

.weather p:first-of-type {
    margin-top: 30px;
    
}

.weather p {
    margin: 5px;
}

.weatherForecast {
    
    font-size: 0.8em;
    display: none;
    background: rgba(80, 80, 95, 0.5);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.weatherForecast img {
    width: 30px;
    vertical-align: middle;
}

.weatherForecast table {
    border-collapse: collapse;
}

.weatherForecast td {
    text-align: center;
    margin: 5px 10px 0 0;
}

.weatherForecast th, td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
.weatherForecast th {
    border-bottom: 1px solid lightgray;
}

.weatherForecast tfoot {
    border-top: 1px solid lightgray;
}
.weatherForecast th:first-child {
    text-align: left;
}
.weatherForecast tbody td:first-child {
    text-align: left;
    display: block;
    margin-right: 5px;
}

.tempChoice {
    font-weight: bold;
}

/* Clock */

.time {
    text-align: center;
    color: white;
    margin-top: 12em;
}

.clock {
    font-size: 8em; 
    margin: 0;
}

.usclock {
    font-size: 8em; 
    margin: 0;
}

.ampm {
    vertical-align: middle;
    font-size: 0.3em;
}

.hide {
  visibility: hidden;
  height: 0px;
}

.date {
    font-size: 2em;
    margin: 0;
}

/* Main Focus and Goal Prompt */

.goalPrompt {
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.goalPrompt > p,
.submittedGoalContainer > p {
    font-size: 2em;
    text-align:center;
}

.mainForm {
    width: 500px;
    margin: auto;    
}

.mainForm input,
.to-do .addNote {    
    background: rgba(80, 80, 95, 0.5);
    width: 100%;
    height: 2em;
    color: white;
    font-size: 2em;
    border: none;
    border-radius: 0.5em;
    text-align: center;
}

/*
	change the color of the placeholder text
*/
.mainForm input::-webkit-input-placeholder { 
  color: white;
}

/* 
	override default colors for input field when autofill is used -- NOT NEEDED anymore b/c autocomplete is disabled now
*/

/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}
*/
/*
@-webkit-keyframes autofill {
    to {
    color: white;
    background: rgba(255, 255, 255, 0.5)
    }
}


input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
*/

.submittedGoalContainer {
    display: none;
    opacity: 0;
    text-align: center;
    transition: opacity 1s;
}

.submittedGoalContainer fieldset {
    border: none;
}

.submittedGoalContainer fieldset p {
  position: relative;
  display: inline-block;
  max-width: 90%;
  font-size: 1.4em;
/*   margin: 5px; */  
}

/* Set default opacity for checkbox to 0 to display custom checkbox instead */

.submittedGoalContainer input[type="checkbox"] {
  opacity: 0;
  vertical-align: middle;
  cursor: pointer;
/*   display: inline-block; */
}

.submittedGoalContainer input[type="checkbox"] + label {
  cursor: pointer;  
  margin-left: 24px;
/*   display: inline-block;   */
}

/* Using ::before and ::after pseudo-elements to customize checkbox appearance */

.submittedGoalContainer input[type="checkbox"] + label::before {
  top: 3px;
  position: absolute;
  left: -3px;
  width: 20px;
  height: 20px;
  /* background-color: white; */
  border-radius: 5px;
  display: inline-block;
  content: "";
  cursor: pointer;
  border: 2px solid white;
}


/* unchecked state */
.submittedGoalContainer input[type="checkbox"] + label::after {
  position: absolute;
  top: 6px;
  left: 1px;
  width: 16px;
  height: 16px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QMaDike3R8gLgAAAIlJREFUSMftljEOwCAMAzHi/192p24FkjSGqiITYuAUfEGAZNlRtWyqA/4NuGtuWwC811B3TMt+XXW1yoy5Qy7389eMByET2uuYUWEmNbSajs7C0EjGzIBG5XoNfQIjcbzglQtq6OiqoYTOMoYKapELCqjVamRDPeOE5Ehcc4xMCZtKnvPL/Az4Aj05Fj+Wh7yCAAAAAElFTkSuQmCC");
  border-radius: 4px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: -2px -1px;
  display: inline-block;
  content: "";
  opacity: 0;
  max-width: 0;
  cursor: pointer;
  transition: max-width 0s 0.5s, opacity 0.5s;
  /* transition-delay: 1s; */
  /* transition: opacity, max-width; */
}

/* checked state */
.submittedGoalContainer input[type="checkbox"]:checked + label::after {
  opacity: 1;
  transition: all 0.5s;
  max-width: 20px;
}

.submittedGoalContainer input[type="checkbox"]:checked + label > span {
    text-decoration: line-through;
}

.submittedGoalContainer input[type="checkbox"] + label > span {    
    vertical-align: middle;
    font-size: 1.4em;
}

/* Remove default button styling */

button {
  background: inherit;
  border: 0;
  color: black;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
}

/* Customize button appearance */

.submittedGoalContainer button {
  color: white;  
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid white;
  padding: 3px 8px 3px 8px;
  color: inherit;
  visibility: hidden;
  position: absolute;
  top: 3px;
  right: -46px;
  background: url('x.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

/* Show the button on hover */

.submittedGoalContainer fieldset:hover button {
    visibility: visible;
}


/* remove the default blue outline on focus on the input element */
input:focus{
    outline: none;
}

blockquote {
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    max-width:60%;
    margin:auto;
}
   
blockquote cite {
    font-size: 0.9em;
}


.to-do {
    position: absolute;
    bottom: 4em;
    right: 0;
    width: 25em;
    height: 25em;        
    overflow-x: hidden;
    box-sizing: border-box;
    visibility: hidden;
}

.to-do .listContainer {
    width: 95%;
    height: 95%;
    background-color: rgba(80, 80, 95, 0.5);
/*     background: red; */
    position: absolute;
    left: 100%;
    border-radius: 1em;
    box-sizing: border-box;
/*     padding-top: 1em; */
}

.listContainer form {
    position: absolute;
    bottom: 1em;
    width: 96%;
}

.to-do-list {
    list-style-type: none;
    padding-left: 1em;
    height: 18.6em;
    overflow: auto;
}

.to-do-list button {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid white;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    top: 3px;
    color: white;
    background: url('x.png');
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    visibility: hidden;
}

.to-do-list li:hover button {
    visibility: visible;
}

.showList {
    position: absolute;
    bottom: 0;
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    right: 0.5em;
    color: white;
/*     border-top-left-radius: 1em; */
    box-sizing: content-box;
    cursor: pointer;    
    background: no-repeat center/75% url('list_icon.png');
    transition: right 0.7s;
}

.showList:focus {
    outline: none;
}


/*
.showList:hover {
    border-top: 1px solid white;
    border-left: 1px solid white;
}
*/

.to-do .addNote {
    font-size: 1.5em;
    width: 100%;
    height: 1.5em; 
    line-height: 1em;
    background: rgba(50, 50, 55, 0.7);
    border-radius: 0;
    text-align: left;
    padding-left: 4%;
}

.to-do-list li {
    position: relative;
    margin-bottom: 0.5em;
}

.to-do-list input[type="checkbox"] {
  opacity: 0;
/*   vertical-align: middle; */
  cursor: pointer;
/*   display: inline-block; */
}

.to-do-list input[type="checkbox"] + label {
  cursor: pointer;  
  margin-left: 6px;
/*   display: inline-block;   */
}

/* Using ::before and ::after pseudo-elements to customize checkbox appearance */

.to-do-list input[type="checkbox"] + label::before {
    top: 2px;
    position: absolute;
    left: -1px;
    width: 15px;
    height: 15px;
    /* background-color: white; */
    border-radius: 5px;
    display: inline-block;
    content: "";
    cursor: pointer;
    border: 2px solid white;
}


/* unchecked state */
.to-do-list input[type="checkbox"] + label::after {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 15px;
  height: 16px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QMaDike3R8gLgAAAIlJREFUSMftljEOwCAMAzHi/192p24FkjSGqiITYuAUfEGAZNlRtWyqA/4NuGtuWwC811B3TMt+XXW1yoy5Qy7389eMByET2uuYUWEmNbSajs7C0EjGzIBG5XoNfQIjcbzglQtq6OiqoYTOMoYKapELCqjVamRDPeOE5Ehcc4xMCZtKnvPL/Az4Aj05Fj+Wh7yCAAAAAElFTkSuQmCC");
  border-radius: 4px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  content: "";
  opacity: 0;
  max-width: 0;
  cursor: pointer;
  transition: max-width 0s 0.5s, opacity 0.5s;
  /* transition-delay: 1s; */
  /* transition: opacity, max-width; */
}

/* checked state */
.to-do-list input[type="checkbox"]:checked + label::after {
  opacity: 1;
  transition: all 0.5s;
  max-width: 20px;
}

.to-do-list input[type="checkbox"]:checked + label > span {
    text-decoration: line-through;
}

.to-do-list input[type="checkbox"] + label > span {    
    vertical-align: bottom;
    font-size: 1.4em;
    width: 12.5em;
    display: inline-block;
    word-wrap: break-word;
}

.to-do-list::-webkit-scrollbar {
    width: 6px;
}

.to-do-list::-webkit-scrollbar-track {
    background: lightgray;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.to-do-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.weather,
td.fahrenheit,
td.celsius {
    cursor: pointer;
}
